.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: white;
  border-bottom: 3px solid #090041;
}

.main {
  text-align: left;
  background: white;
}

.aside-1 {
  background: #090041;
}

.table {
  border: 1px solid #ddd;
}

.mt-1 {
  margin-top: 15px;
}

.mt-2 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 15px 5px;
}
li a:hover {
  color: #ff0000;
}

.table tr td,
.table tr th {
  padding: 8px;
  text-align: left;
}
.table tr th {
  padding-bottom: 20px;
}

input {
  padding: 5px;
}

.logo {
  width: 255px;
}

.date-box {
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  margin: 0px 2px;
  display: inline-block;
}
.date-box.filled {
  background-color: #007f0e;
}

.days-of-week {
  position: relative;
  top: 25px;
}
.days-of-week li {
  display: inline-block;
  width: 40px;
  margin: 0px 4px;
  text-align: center;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
    max-width: 250px;
  }
  .main {
    order: 2;
  }
  .aside-1 {
    height: 100vh;
  }
  .table {
    max-width: 1400px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
}
